html,
body {
  margin: 0;
  height: 100vh;
  background-color: #dddddd;
  overflow: auto;
  color: white;
}

a {
  display: inline-block;
  pointer-events: none;
}

#googleLinkContainer {
  display: flex;
  justify-content: center;
}

#googleLink {
  color: black;
  pointer-events: auto;
  text-decoration: none;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#googleLink[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

#googleLink:hover {
  text-decoration: underline;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

#schedule-container {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

#schedule-container > * {
  margin: 4px 0;
}

#roster-container {
  display: flex;
  flex-direction: column;
}

#roster-container > * {
  margin: 4px 0;
}

#submitSchedule {
  background-color: #001f3f;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
}

#submitRoster {
  background-color: #001f3f;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
}

#submitSchedule:hover {
  opacity: 0.91;
}

#submitRoster:hover {
  opacity: 0.91;
}

input {
  height: 2em;
  font-size: 1.3em;
  margin-bottom: 11px;
  border-radius: 0.5;
  outline: none;
  box-shadow: 5px 5px 16px -5px rgba(0, 0, 0, 0.8);
  border-style: none;
  padding-left: 10px;
  border-radius: 4px;
}

textarea {
  outline: none;
  border: none;
  box-shadow: 5px 5px 13px -5px rgba(0, 0, 0, 0.8);
  padding: 7px;
  margin-bottom: 8px;
  border-radius: 4px;
}

input[type="submit"] {
  height: 50px;
  text-decoration: none;
}

.inputFieldsContainer {
  display: flex;
  flex-direction: column;
}

.inputFieldsContainer > div {
  display: flex;
  justify-content: space-between;
}

.inputFieldsContainer > div > * {
  width: 46%;
  height: 2.2em;
  margin-bottom: 11px;
}

#tranSlots {
  color: black;
  white-space: pre-line;
}

@media screen and (max-width:1000px) {
  #container {
    display: flex;
    flex-direction: column;
  }
  #googleLink {
    margin-bottom: 60px;
  }
}


/*1470