html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #dddddd;
  overflow: auto;
  font-family: Georgia, serif;
  overflow-x: hidden;
}

a {
  display: inline-block;
  pointer-events: none;
}

#googleLinkContainer {
  display: flex;
  justify-content: center;
}

#googleLink {
  color: black;
  pointer-events: auto;
  text-decoration: none;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#googleLink[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

#googleLink:hover {
  text-decoration: underline;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  width: 97vw;
}

#schedule-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  width: 60%;
  box-sizing: border-box;
}

#roster-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 700px;
  width: 100%;
  height: 100vh;
}

#roster-inputs-container {
  width: 70%;
}

#submitSchedule {
  background-color: #001f3f;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  padding: 10px;
  margin-top: 10px;
}

#submitRoster {
  width: 80%;
}

.process-buttons {
  align-self: flex-start;
  border: none;
  color: white;
  background: none;
  outline: none;
  background-color: rgba(0, 31, 63, 0.65);
  border-radius: 0 4px 0 4px;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

.download-buttons {
  padding: 10px;
  margin: 10px;
  background-color: #001f3f;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  font-size: 1em;
  white-space: nowrap;
}

#downloads-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  width: 10%;
  margin-bottom: 30px;
}

#submitSchedule:hover {
  opacity: 0.91;
}

#submitRoster:hover {
  opacity: 0.91;
}

.download-buttons:hover {
  opacity: 0.91;
}

input {
  font-size: 1.3em;
  margin-bottom: 16px;
  border-radius: 0.5;
  outline: none;
  box-shadow: 5px 5px 16px -5px rgba(0, 0, 0, 0.8);
  border-style: none;
  border-radius: 4px;
}

input[type="submit"] {
  border-top: none;
}

textarea {
  outline: none;
  border: none;
  box-shadow: 5px 5px 13px -5px rgba(0, 0, 0, 0.8);
  padding: 7px;
  border-radius: 4px;
  padding-top: 6px;
  font: inherit;
  margin-bottom: 0;
}

#tranSlots {
  color: black;
  white-space: pre-line;
}

#rawSchedule {
  position: relative;
}

.labels {
  position: absolute;
  white-space: nowrap;
  width: 140px;
  top: -6px;
  left: calc(50% - 70px);
  text-align: center;
  padding: 0 6px;
  padding-bottom: 2px;
  margin-top: 0;
  z-index: 1;
  border-radius: 3px;
  background-color: rgba(31, 48, 94, 0.75);
  background-color: #001f3f;
  background-color: rgba(0, 31, 63, 0.85);
  color: white;
  font-variant: small-caps;
  font-size: 14px;
  width: calc(100% - 12px);
  left: 0;
}

#alphabetizeInput {
  border-top: none;
  border-width: 0;
  margin-right: 8px;
  margin-bottom: 5px;
}

input[type="checkbox" i] {
  padding-bottom: 8px;
}

#team-shared-container {
  align-self: center;
  border-color: rgb(0, 31, 63);
  background-color: rgba(0, 31, 63, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4px 10px;
  box-sizing: border-box;
  margin-bottom: 11px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#team-shared-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#suffix-input {
  text-align: center;
}

#prefix-input {
  text-align: center;
}

#shared-game-info {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

#shared-game-info > div {
  display: flex;
  flex-direction: column;
  width: 32%;
}

#team-shared-container input {
  margin-bottom: 0;
  text-align: center;
}

#team-shared-container textarea {
  margin-bottom: 0;
  white-space: nowrap;
}

.roster-textarea-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

#rawRoster1 {
  width: 100%;
  box-sizing: border-box;
}

#rawRoster2 {
  width: 100%;
  box-sizing: border-box;
}

.half-width-textarea-container {
  height: 100%;
  width: 49%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.half-width-textarea-container > textarea {
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
}

.halves-container {
  display: flex;
  justify-content: space-between;
}

#teams-main-container {
  display: flex;
  justify-content: space-between;
}

.team-stuff {
  display: flex;
  flex-direction: column;
  width: 47%;
  background-color: rgba(0, 31, 63, 0.2);
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

.roster-textarea-container {
  margin-top: 10px;
}

.input-label {
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: calc(-1em - 3px);
  white-space: nowrap;
}

input {
  border-top: solid;
  border-width: 1.2em;
  border-color: #001f3f;
}

textarea {
  border-top: solid;
  border-width: 1.2em;
  border-color: #001f3f;
}

#checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #001f3f;
  border-color: white;
  color: white;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}

#checkbox-container * {
  cursor: pointer;
}

#mini-input-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

#player-col-number > input {
  padding: 7px 2px;
}

input[type="number" i] {
  height: 1em;
  font-size: 16px;
  padding: 7px 2px;
  border-radius: 5px;
}

#mini-input-container > * {
  width: 44%;
}

#mini-input-container textarea {
  width: 100%;
}

.third-width-container {
  width: 32%;
  display: flex;
  flex-direction: column;
}

#player-col-number-input {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#player-col-number-input textarea {
  padding: 7px 2px;
}

#showNotesButton {
  border: none;
  font: inherit;
  cursor: pointer;
  padding: 10px;
  align-self: flex-end;
  text-decoration: none;
  align-self: center;
  margin-top: 30px;
}

#notes-container {
  display: flex;
  flex-direction: column;
  width: 0;
  padding-right: 30px;
  margin-top: 50px;
}

#notes {
  display: none;
  justify-content: space-around;
  color: black;
  padding-left: 0;
  margin-top: 1px;
  background-color: rgba(0, 31, 63, 0.5);
  color: white;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}

li {
  list-style: none;
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  #container {
    display: flex;
    flex-direction: column;
  }
  #roster-container {
    width: 100%;
    min-width: 100%;
  }
  .labels {
    width: calc(100% - 12px);
    left: 0;
  }
}
